 @media screen and  (max-width: 1024px) {
     .header__menu {
         justify-content: end;
     }

     .menu__body {
         position: fixed;
         top: 0;
         right: -120%;
         z-index: 100;
         display: flex;
         flex-direction: column;
         background: #FFFFFF;
         align-items: center;
         box-shadow: 4px 0 84px 20px rgb(77 90 203 / 17%);
         transition: left .2s linear;
         transition: 600ms ease 0s;
         height: 100%;
         justify-content: start;
     }

     .menu__body._active {
         right: 0;
        overflow-y: scroll;
     }

     .menu__list {
         width: 100%;
         height: auto;
         padding: 50px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin: 0;
     }

     .menu__link {
         justify-content: center;
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 700;
         font-size: 22px;
         line-height: 27px;
         text-transform: uppercase;
         color: #24292f;
     }

     .menu__link:hover {
         color: #F73425;
     }

     .menu__hamburger {
         display: flex;
         align-items: center;
         cursor: pointer;
         padding-left: 20px;
         display: flex;
         flex-direction: column;
     }

     .menu__hamburger-bar {
         display: block;
         width: 30px;
         height: 1px;
         margin: 3px auto;
         background-color: #ffffff;
         cursor: pointer;
     }

     .menu__img {
         display: block;
         width: 25px;
         height: 25px;
         cursor: pointer;
     }

     .email__link {
         display: none;
     }

     .mobile-email__link {
         display: block;
         font-size: 14px;
         line-height: 16px;
         text-align: right;
         text-transform: lowercase;
         color: #F73425;
         text-decoration: none;
         font-family: 'Ubuntu';
         font-style: normal;
         font-weight: 700;
         transition: 170ms;
     }

     .mobile-email__link:hover {
         padding-right: 0;
         padding-bottom: 0.5px;
         border-bottom: 0 #F73425;
         box-shadow: 0 2px 0 0 #F73425;
         text-decoration: none
     }
 }

 @media(max-width:870px) {
     .text__title {
         line-height: 76px
     }

     .wrapper-scheme__block {
         flex-wrap: wrap;
     }

     .serveces__block-container {
         flex-direction: column;
     }

     .cooperation-scheme__block {
         flex-direction: row;
         justify-content: flex-start;
     }

     .scheme__block-icon {
         flex-direction: column;
         justify-content: flex-start;
     }

     .scheme__block-line {
         width: 2px;
         height: 100px;
         min-width: 2px;
     }
 }

 @media(max-width:870px) {
     .form__block {
         flex-wrap: wrap;
     }

     .form {
         width: 60%;
     }
 }

 @media(max-width:690px) {
     .text__title {
         font-size: 38px;
         line-height: 62px;
     }
 }

 @media(max-width:650px) {
     .about__content-blocks {
         flex-direction: column;
     }
 }

 @media(max-width:597px) {
.form__body{
    width: 100%;
}

     .contact-text__description p {
         font-size: 22px;
     }

     .text__title {
         line-height: 50px;
     }

     .wrapper__block {
         flex-direction: column;
         gap: 20px;
         padding-left: 0;
     }

     .main-screen__block {
         flex-direction: row;
         align-items: center;
         gap: 10px;
     }

     .img__block {
         margin: 0;
     }

     .contact__phone-number {
         font-size: 18px;
     }

     .contact-email__link,
     .contact__right {
         font-size: 14px;
     }

     .contact__phone-icon img {
         width: 28px;
         height: 28px;
     }
 }

 @media(max-width:540px) {
     .footer {
         gap: 0;
     }

     .contact__description {
         flex-direction: column;
     }

     .contact__title {
         flex: none;
     }

     .contact__text {
         gap: 10px
     }

     .contact__text,
     .map {
         width: 100%;
         height: 400px;
     }
 }

 @media(max-width:440px) {
     .form {
         width: 100%;
     }

     .menu__link {
         font-size: 16px;
     }
 }

 @media(max-width:380px) {
     .text__title {
         font-size: 42px;
     }

     .text__title-slogan,
     section h2 {
         font-size: 22px;
         line-height: 27px;
     }

     .text__block {
         font-size: 18px;
     }

     .menu__link {
         font-size: 12px;
     }

     .wrapper__block {
         padding-top: 50px;
     }
 }

 /* @media(min-height:700px) {

     #main-screen,
     #about,
     #contact,
     #services,
     #cooperation-scheme,
     #connection,
     #contact {
         min-height: 100vh;
     }
 } */


 /* ............................................... */


 @media only screen and (max-height : 450px) {
    .text__title {
        font-size: 30px;
            line-height: 35px;
        }
        .text__title-slogan{
                font-size: 28px;
                    line-height: 35px;
        }
 }